{% extends "base.html" %}

{% block titulo %}
    Buscar
{% endblock  %}


{% block h1 %}
    <h1 class="mx-auto my-0 text-uppercase">Autos</h1>
    <h1></h1>
    <a class="btn btn-primary" href="crear_auto">Crear auto</a>
{% endblock  %}




{% block main %}
<form action="{% url 'buscar_auto' %}" method="GET">
    {{ form }}
    <input type="submit">
</form>

{% if autos %}
<ul>
    {% for auto in autos %}
    <li>
        {{ auto }} 
        | <a href="{% url 'ver_auto' auto.id %}">Ver más</a>
        | <a href="{% url 'editar_auto' auto.id %}">Editar</a>
        <span style="text-decoration: none;">|</span>
        <form action="{% url 'borrar_auto' auto.id %}" method="POST" style="display:inline;" onsubmit="return confirmarEliminacion();">
            {% csrf_token %}
            <button type="submit" class="btn-eliminar">Eliminar</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay autos registrados</p>
{% endif %}

<script>
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar este auto?");
    }
</script>

{% endblock main %}
