{% extends "base.html" %}

{% block titulo %}
    Buscar Autos
{% endblock  %}

{% block h1 %}
    <h1 class="mx-auto my-0 text-uppercase">Buscar Autos</h1>
    <a class="btn btn-primary" href="crear_auto">Crear auto</a>
{% endblock  %}

{% block main %}
<form action="{% url 'buscar_auto' %}" method="GET">
    <label for="marca">Marca:</label>
    <input type="text" name="Marca" placeholder="Marca del auto" value="{{ form.Marca.value|default_if_none:'' }}">
    
    <label for="modelo">Modelo:</label>
    <input type="text" name="Modelo" placeholder="Modelo del auto" value="{{ form.Modelo.value|default_if_none:'' }}">
    
    <label for="año">Año:</label>
    <input type="number" name="Año" placeholder="Año del auto" value="{{ form.Año.value|default_if_none:'' }}">
    
    <label for="precio">Precio:</label>
    <input type="number" name="Precio" placeholder="Precio del auto" value="{{ form.Precio.value|default_if_none:'' }}">
    
    <label for="hp">Caballos de fuerza:</label>
    <input type="number" name="Hp" placeholder="Hp" value="{{ form.Hp.value|default_if_none:'' }}">
    
    <input type="submit" value="Buscar">
</form>

{% if autos %}
<ul>
    {% for auto in autos %}
    <li>
        {{ auto }} 
        | <a href="{% url 'ver_auto' auto.id %}">Ver más</a>
        | <a href="{% url 'editar_auto' auto.id %}">Editar</a>
        <span style="text-decoration: none;">|</span>
        <form action="{% url 'borrar_auto' auto.id %}" method="POST" style="display:inline;" onsubmit="return confirmarEliminacion();">
            {% csrf_token %}
            <button type="submit" class="btn-eliminar">Eliminar</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay autos registrados</p>
{% endif %}

<script>
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar este auto?");
    }
</script>

{% endblock main %}
