{% extends "base.html" %}

{% block titulo %}
    Edicion
{% endblock  %}

{% block h1 %}
<h1 class="mx-auto my-0 text-uppercase">Editar {{auto}}</h1>
{% endblock  %}


{% block main %}
<form action="{% url 'editar_auto' auto.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
  
    {{form}}
    {% if auto.foto %}
    <div>
        <label>Imagen actual:</label><br>
        <img src="{{ auto.foto.url }}" alt="Imagen del auto" height="200px">
    </div>
{% elif auto.foto_url %}
    <div>
        <label>Imagen actual desde URL:</label><br>
        <img src="{{ auto.foto_url }}" alt="Imagen del auto" height="200px">
    </div>
{% else %}
     
{% endif %}
<input type="submit" value="Guardar cambios">
</form>
{% endblock main %}