{% extends "base.html" %}

{% block titulo %}
    Cambiar contraseña
{% endblock  %}

{% block h1 %}
<h1 class="mx-auto my-0 text-uppercase">Cambiar contraseña de {{request.user.username}}</h1>
{% endblock  %}

{% block main %}
 <form action={% url "usuarios:cambiar_password" %} method="post">
    {% csrf_token %}
    {{ form }}

    <!-- Aquí agregamos el checkbox para mostrar/ocultar contraseña -->
    <div>
        <input type="checkbox" id="togglePassword"> Mostrar contraseña
    </div>

    <input type="submit" value="Cambiar contraseña">
 </form>

 <script>
    document.getElementById('togglePassword').addEventListener('change', function (e) {
        // Encuentra el campo de contraseña
        const passwordFields = document.querySelectorAll('input[type="password"], input[type="text"]');
        passwordFields.forEach(function (field) {
            // Si el checkbox está marcado, cambia el campo a tipo 'text'
            if (e.target.checked) {
                field.type = "text";
            } else {
                // Si no está marcado, lo cambia a 'password'
                field.type = "password";
            }
        });
    });
 </script>
{% endblock main %}
